.pricing-tables {
    padding-top: 130px;
  }
  
  .pricing-tables  .section-heading {
    text-align: center;
    margin-bottom: 80px;
  }
  
  .pricing-tables .section-heading p {
    margin-top: 10px;
    margin-left: 18%;
    margin-right: 18%;
  }

  .pricing-item {
    position: relative;
    z-index: 1;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    border-radius: 10px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: all .3s;
    cursor: pointer;
  }

  .pricing-item:hover {
    padding: 20px;
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: all .3s;
  }
  
  .pricing-img {
    height: 200px;
    transition: all .3s;
  }
  .pricing-item:hover .pricing-img{
    transition: all .3s;
    border-radius: 40px;
  }